:root {
    --header-background: #000;
    --header-text-color: #fff;
    --btn-background-hover: #dfdfdf;
    --main-text-color: #232A30;
}

body[data-theme="light"] {
    --header-background: #fff;
    --header-text-color: #353535;
    --btn-background-hover: #dfdfdf;
}